.button{
  border-radius: 40px;
  box-shadow: 1px 10px 16px var(--box-shadow);
  font-family: var(--font-secondaty);
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
}

.button:disabled {
  pointer-events: none;
  opacity: 0.8;
}