.main {
  position: absolute;
  height: calc(100% - 5em);
  width: calc(100% - 20rem);
  top: 5rem;
  left: 20rem;
  overflow-y: scroll;
}

.main-large {
  position: absolute;
  height: calc(100% - 5em);
  width: calc(100% - 7.8rem);
  top: 5rem;
  left: 7.8rem;
}

.main__content {
  width: 1050px;
  min-height: 84vh;
  margin: 1rem auto; 
  background-color: var(--background);
  box-shadow: 1px 10px 16px var(--box-shadow);
  border-radius: 10px;
}