.delete-account-form {
    padding: 2rem 3rem;
    display: grid;
    gap: 2rem;
    text-align: center;
}

.delete-account__btn {
    padding: 0.2rem 0.7rem;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 4px;
    background-color: white;
}

.delete-account__btn-cancel {
    margin-right: 3rem;
    border: 1px solid var(--secondary-blue);
    color: var(--secondary-blue);
}

.delete-account__btn-delete {
    border: 1px solid var(--red);
    color: var(--red);
}