.input{
  width: 80%;
  padding: 1rem;  
  border: 1px solid var(--border);
  border-radius: 5px;
  font-size: 1.1rem;
  font-family: var( --font-secondary);
  letter-spacing: 0.5px;
  background-color: white;
  color: var(--text-dark-blue);
}

.input:focus {
  border-color: var(--text-dark-blue);
  background-color: var(--light-grey);
}

.input::placeholder {
  color: var(--border);
}

.input_radio{
  margin-right: 1.3rem;
}