.shipp-info {
  padding: 3rem 6rem;
  display: grid;
  gap: 1rem;
}

.shipp-info__header {
  display: flex;
  justify-content: space-between;
}

.shipp-info__link {
  text-decoration: none;
  letter-spacing: 0.5px;
  color: var(--secondary-blue);
}

.shipp-info__link {
  text-decoration: underline;
}

.shipp-info__status {
  padding: 0.4rem 0.8rem;
  width: fit-content;
  rotate: 30deg;
  border-radius: 7px;
  border: 1px solid  var(--yellow);
  background-color:  var(--yellow);
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: white;
}

.shipp-info__title {
  text-align: center;
  text-transform: uppercase;
}

.shipp-info__state {
  text-align: center;
  font-style: italic;
  color: var(--yellow);
}

.shipp-info__content {
  display: flex;
  gap: 1rem;
}

.shipp-info__address {
  display: grid;
  align-items: flex-end;
  font-size: 0.9rem;
  font-style: italic;
  color: var(--secondary-blue);
}

.shipp-info__text_italic {
  font-style: italic;
}

.shipp-info__truck-cont {
  display: grid;
  gap: 0.3rem;
}

.shipp-info__heading {
  margin-top: 0.7rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--secondary-blue);
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  color: var(--secondary-blue);
}

.shipp-info__truck {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.shipp-info__block {
  margin-top: 1.5rem;
}

.shipp-info__table {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.shipp-info__td {
  padding: 0.3rem 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.shipp-info__th {
  padding: 0.2rem 2rem;
  font-family: var(--font-secondary);
  font-size: 0.7rem;
  font-weight: 500;
  border-radius: 5px;
  color: var(--third-blue);
}

.shipp-info__tr {
  box-shadow: 1px 10px 16px var(--box-shadow);
}