.trucks__table-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.trucks__table-text {
  font-size: 0.8rem;
}

.trucks__table-btns {
  display: flex;
  gap: 1.5rem;
}

.trucks__table-btn {
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: var(--background);
}

.trucks__btn-edit:hover {
  color: var(--secondary-blue);
}

.trucks__btn-delete {
  color: var(--red);
}

.trucks__btn-delete:hover {
  border: 1px solid var(--red);
  background-color: var(--red);
  color: var(--background);
}

.trucks__btn-assign {
  margin-left: 2.5rem;
  color: var(--yellow);
}

.trucks__btn-assign:hover {
  color: var(--light-yellow);
}

.trucks__btn-ok {
  margin-left: 1rem;
}