.loads {
  padding: 3rem 6rem;
  display: grid;
  gap: 3rem;
}

.loads__container {
  display: grid;
  gap: 3rem;
}

.loads__btn {
  width: 20rem;
  padding: 0.9rem 1rem;
  justify-self: center;
  background-color: var(--background);
  border: 1px solid var(--background);
  color: var(--secondary-blue);
}

.loads__btn:hover {
  border: 1px solid var(--btn-dark-blue);
  background-color: var(--btn-dark-blue);
  color: white;
}

.loads__title {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-bottom: 1px solid var(--secondary-blue);
  color: var(--secondary-blue);
}

.loads__mess{
  margin: 3rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary-blue);
  letter-spacing: 1.5px;
}