.add-truck__box {
  position: fixed;
  top: 6rem;
  right: 0;
  width: 25rem;
  height: 10px;
  padding: 2rem;
  /* display: flex;
  justify-content: space-around; */
  background-color: var(--background);
  box-shadow: 1px 10px 16px var(--box-shadow);
  border-radius: 10px;
}

/* .add-track__form {} */
/* .add-truck__btn {} */