.trucks {
  padding: 2rem 2.5rem;
  display: grid;
  gap: 3rem;
}

.trucks__header {
  padding-left: 3rem;
  display: flex;
  justify-content: space-between;
}

.trucks__form-box {
  display: grid;
  gap: 1.5rem;
  text-align: center;
}

.trucks__form-btn{
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--background);
  background-color: var(--background);
  color: var(--text-dark-blue);
}

.trucks__form-btn:hover{
  color: var(--secondary-blue);
}

.trucks__header-box {
  display: grid;
  gap: 0.8rem;
  text-align: center;
}

.trucks__header-table {
  box-shadow: 1px 10px 16px var(--box-shadow);
}

.trucks__header-td{
  padding: 0.1rem 0.3rem;
  text-align: center;
  letter-spacing: 0.7px;
  font-size: 0.9rem;
  background-color: white;
}

.trucks__table {
  width: 100%;
}

.trucks__table-row {
  display:grid;
  grid-template-columns: 1.9fr 1fr 0.9fr 2fr; 
  gap: 3px;
}

.trucks__table-header {
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--background);
  color: var(--third-blue);
  opacity: 0.4;
}

.trucks__table-data {
  padding: 1rem 1.2rem;
  margin-bottom: 0.2rem;
  display: grid;
  align-items: center;
  gap: 0.8rem;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}
