.trucks {
  padding: 2rem 2.5rem;
  display: grid;
  gap: 3rem;
}

.trucks__header {
  padding-left: 3rem;
  display: flex;
  justify-content: space-between;
}

.trucks__header-box {
  display: grid;
  gap: 0.8rem;
  text-align: center;
}

.trucks__header-title {
    letter-spacing: 1px;
}

.trucks__table {
  width: 100%;
}

.trucks__table-row {
  display:grid;
  grid-template-columns: 1.9fr 1fr 0.9fr 2fr; 
  gap: 3px;
}

.trucks__table-header {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--font-secondary);
  background-color: var(--background);
  color: var(--third-blue);
  opacity: 0.4;
}
